[2021-09-01 14:08] luuhaidang opened #290 "[![CLA assistant check](https://cla-assistant.io/pull/badge/not_signed)](https://cla-assistant.io/dropbox/Store?pullRequest=289) <br/>Thank you for your submission! We really appreciate it. Like many open source projects, we ask that you sign our [Contributor License Agreement](https://cla-assistant.io/dropbox/Store?pullRequest=289) before we can accept your contribution.<br/><sub>You have signed the CLA already but the status is still pending? Let us [recheck](https://cla-assistant.io/check/dropbox/Store?pullRequest=289) it.</sub>"
[![CLA assistant check](https://cla-assistant.io/pull/badge/not_signed)](https://cla-assistant.io/dropbox/Store?pullRequest=289) <br/>Thank you for your submission! We really appreciate it. Like many open source projects, we ask that you sign our [Contributor License Agreement](https://cla-assistant.io/dropbox/Store?pullRequest=289) before we can accept your contribution.<br/><sub>You have signed

[2021-09-01 15:10] #290 closed

[2021-09-15 13:49] OrhanTozan commented on #287
I recommend using a different return type. I get that the (data, loading, error) pattern is popular in JS land, but the truth is we have sealed classes in Kotlin. Let the type say "its either error, loading or data", instead of "it can have error, and also data", while that ofcourse will never happen.

[2021-09-27 16:09] elroid commented on #170
I've arrived on this page after encountering this unintuitive behaviour myself. If I create a store with a SingleSourceOfTruth, and I then update the source of truth - the value I get from store should match that new object, surely?! I don't find the work-around suggestions very helpful. Disabling the memory cache or lowering the TTL will make every access to the data slower than it needs to be (w

[2021-10-15 15:54] MKelman opened #310 "[BUG] Pull to refresh causes exponential calls"
**Describe the bug**
With the implementation of store using coroutine flow and the store implementation returning store.stream(request) where the request contains a StoreRequest.fresh, we are seeing that on every pull refresh, the collect storeResponse is being called numerous times with exponential calls.

[code]

In the following code above, we start a coroutine flow call with a postValue to let

[2021-10-15 16:03] digitalbuddha commented on #310
Could you make a full reproducible sample/test that I can play with? It's unclear to me why it would go 3,6,10 refreshes, I have not seen similar and must be using differently than y'all 😁

[2021-10-15 20:58] digitalbuddha commented on #310
Tough to say without knowing exactly what you are doing.

Pull latest from main branch and take a look out or sample app. Particularly the following fragment. I have not heard of reports of similar. If you can reproduce there we can fix. https://github.com/dropbox/Store/blob/main/app/src/main/java/com/dropbox/android/sample/ui/room/RoomFragment.kt

[2021-10-15 21:08] digitalbuddha commented on #251
Yelp I regret opening this 😁 will figure out if actually needed

[2021-10-15 21:13] MKelman commented on #310
@digitalbuddha sample app now works. While i have not reproduced my exact issue on the sample app, I am curious as to why a pull to refresh causes the collect to be hit 3 times here. Those are all the calls made in just one pull to refresh. The state: refresh  is coming from storeState.loading.collect { response

![image](https://user-images.githubusercontent.com/10063610/137554147-3660d576-843e-4

[2021-10-16 10:37] miduch commented on #247
Any updates on this?

[2021-10-29 20:22] MKelman commented on #310
@digitalbuddha any updates on this?

[2021-11-01 13:53] kozaxinan opened #331 "[BUG] Experimental Duration usage causes problem with Kotlin 1.6"
**Describe the bug**
A clear and concise description of what the bug is.

Store uses toDuration method which doesn't exist anymore.

**To Reproduce**
Steps to reproduce the behavior:
Compile app with Kotlin 1.6.0-RC and store will throw exception.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Store should work with Kotlin 1.6.0-RC

[2021-11-09 22:55] mirland commented on #278
@digitalbuddha it would be nice to have some feedback here. What do you think about the feature? what do you think about the proposed solutions? If you think that it's a good idea, do you have an estimate?

[2021-11-09 23:05] digitalbuddha commented on #278
My biggest concern about it is how store will persist the ttls. Currently we don't have our own persistence. I guess we can have a new source of truth type that has  the map key/value api. That opens us up to uncertainty around how and for how long the user will store these values.

To be honest I don't think store is the right place for this ttl. I think the underlying source of truth should main

[2021-11-09 23:15] mirland commented on #247
[The new MM will be merged into the main branch in coroutines 1.6.0](https://github.com/kotlin/kotlinx.coroutines/issues/462#issuecomment-911680792). As it's explained [in this issue](https://github.com/Kotlin/kotlinx.coroutines/issues/2914), [`isExperimentalMM`](https://github.com/JetBrains/kotlin/blob/master/kotlin-native/runtime/src/main/kotlin/kotlin/native/Platform.kt#L139) will be used to kn

[2021-11-09 23:17] digitalbuddha commented on #247
Planning to yes but no estimate. We are starting to explore kotlin native. Any help would be appreciated. See @handstandsam

[2021-11-09 23:36] mirland commented on #278
In my opinion, `Store` shouldn't persist the TTL. `Store` is a library that handles different sources and returns a simple response.
But the TTL may not be related to the source itself, it can be related to the request. As you may request fresh data using `Store.fresh(key: Key)`, you could request data after a `date`  or data that was requested before a [duration](https://kotlinlang.org/api/latest

[2021-11-16 14:39] digitalbuddha commented on #331
Hello could you kindly try this version
https://search.maven.org/artifact/com.dropbox.mobile.store/store4/4.0.2-KT15/jar
it should work with kotlin 1.5+

[2021-11-16 14:39] #331 closed

[2021-11-16 14:42] digitalbuddha commented on #287
It's not clear to my how useStore is any better than a store builder inside of a CompositionLocal, mind explaining what the additional api surface gets us? We are still experimenting with compose and finding the right patters to use

[2021-11-16 15:10] digitalbuddha commented on #278
Gave this more thought, we currently have a TTL on an in memory cache but not one on the request/source of truth. I'm open to accepting a PR adding a `maxSOTAge` to StoreRequest which then hooks into a new delegate in `SourceOfTruth`

` fun ageOf(request:Key) Duration`
When `maxSOTAge < fn(ageOf(key)) we skip source of truth.

I won't have time to work on this myself but happy to discuss/accept a

[2021-11-16 15:17] digitalbuddha commented on #255
Hi friends, I'm back from paternity and am going to add a new fetcher type that throws on empty. Let me know if anyone has suggestions on how it should work

[2021-11-16 15:29] digitalbuddha commented on #250
Hello just checking in, I don't have a good answer/solution as of yet.

[2021-11-16 15:33] digitalbuddha commented on #247
When we do approach we should pull this back in https://github.com/ReactiveCircus/cache4k

[2021-11-16 15:36] #238 closed

[2021-11-16 15:38] digitalbuddha commented on #231
closing for now, might approach again in next version of store. `StoreResponse.Error(Throwable(message))` gives users the ability to map any throwable/response type toa StoreResponse.Error

[2021-11-16 15:38] #231 closed

[2021-11-16 15:45] digitalbuddha commented on #230
I'm a fan of externalizing the UIState controller similar to what Yigit proposed above. Closing for now

[2021-11-16 15:45] #230 closed

[2021-11-16 15:47] digitalbuddha commented on #224
Since we delegate to user's SourceOfTruth this can be implemented within a SourceOfTruth. Closing as I don't think this is generic enough to be a library feature

[2021-11-16 15:47] #224 closed

[2021-11-16 15:54] digitalbuddha commented on #219
#230 was closed as it changes the paradigm from events to state. I agree that the current solution is not ideal for the reasons @OrhanTozan mentioned. I think we need an internal StoreResponse type that is only used within the store internals rather that emitted to users. Open to other suggestions. Will assign to myself and take on in few weeks unless someone has a better idea for a fix.

[2021-11-16 16:02] #205 closed

[2021-11-16 16:04] #203 closed

[2021-11-16 16:04] #202 closed

[2021-11-16 16:16] TylerMcCraw commented on #255
Welcome back, Mike!
I was going back through my notes and looking at our current workaround.
Like I mentioned, I think we need a Fetcher that doesn't suspend indefinitely due to there being an empty result set (an empty list).
So, my thinking is that whatever the current Fetcher implementation is doing to wait on a non-empty result should be removed for this type of Fetcher that we want.

Would it

[2021-11-16 16:16] digitalbuddha commented on #170
hello @elroid I somehow missed your response until now, apologies.  You are correct in thinking that changing the default behavior will confuse more users than help. We do have a configuration on StoreRequest to skip the memory cache for circumstances such as yours. Does the following api work for you?
`StoreRequest.skipMemory(refresh=false) `

This request will always skip memory, try to load fro

[2021-11-16 16:17] #163 closed

[2021-11-16 16:24] digitalbuddha commented on #255
I think we should have a new `ThrowOnEmptyFetcher` which has the wrapper logic you had above. Basically it would throw NoNewDataException anytime an empty list is returned.  Would that solve your use case? Would you want to contribute this new Fetcher subclass?

[2021-11-16 16:33] digitalbuddha commented on #161
going to keep us pointed to public for now

[2021-11-16 16:33] #161 closed

[2021-11-16 16:46] digitalbuddha commented on #157
closing as we will be kotlin only going forward, sorry for late reply

[2021-11-16 16:46] #157 closed

[2021-11-16 16:47] #137 closed

[2021-11-16 16:47] TylerMcCraw commented on #255
I can try to find some time to contribute something, but if someone else has more free time than me, please don't hesitate :)

One thing I want to clarify is that I don't know yet that throwing an exception is the right solution.
If the source of truth (with an output of a List type) returns an empty list, then Store uses the Fetcher to fetch that list and the response from the Fetcher is also an

[2021-11-16 16:49] digitalbuddha commented on #255
Got it yeah not ideal, its almost like we want a custom Store.Data.EmptyableData wrapper type for store responses. Now you see why this hasn't been taken on yet ;-)

[2021-11-16 16:51] digitalbuddha commented on #74
This feature would be too complicated to add without breaking changes, closing and will consider in next major version

[2021-11-16 16:51] #74 closed

[2021-11-16 19:03] digitalbuddha commented on #207
sorry for delay, diff is up

[2021-11-16 19:08] digitalbuddha commented on #201
this should no longer be the case

[2021-11-16 19:08] #201 closed

[2021-11-16 19:33] tasomaniac commented on #157
Sounds good. I remember discussing that this will not be done back then.

[2021-11-16 20:11] #207 closed

[2021-11-17 09:43] bishiboosh opened #339 "Compatibility issue with Kotlin 1.6"
**Describe the bug**
Duration API has been made stable in Kotlin 1.6.0, and some methods have been deleted. As result, the following error appears:

[code]

**To Reproduce**

Create a store with the default options.

**Expected behavior**
Should not crash

**Infos**
 - Store Version: 4.0.2-KT15

[2021-11-17 09:44] bishiboosh commented on #339
A release requiring Kotlin 1.6.0 (and fixing the deleted methods) should probably be done now that the Duration API is stable, and hopefully there won't be any more problems then :)

[2021-11-17 13:08] digitalbuddha commented on #339
Got it. I’ll make a new version today. I didn’t realize it was another compat problem and not same as last one.

[2021-11-17 16:57] bishiboosh commented on #339
I don't know when 1.6.0 will be widely used, so a -kt16 version may be the right solution to avoid the same issues you had with 1.5 last time :/

[2021-11-17 19:47] argenkiwi commented on #339
So these issues occur because the Store library uses experimental APIs?

[2021-11-17 19:49] digitalbuddha commented on #339
Yeah this was a mistake I made, we wanted to ease into kotlin multi platform and didn’t realize this was an unstable api.

[2021-11-17 20:06] bishiboosh commented on #339
Duration API has been a PITA for a couple of libs, I know it was marked as experimental but I wish the API surface hadn't moved that much during development

[2021-11-18 10:53] elroid commented on #170
Hi @digitalbuddha thanks for getting back to me. What you suggest (skipping the memory version and going straight to the SoT) is as close as appears possible currently, but is not ideal - as I mentioned in my previous post. I don't want to bypass the in-memory value, i just want to make sure that it is kept up to date. Or are you suggesting that making a request with `StoreRequest.skipMemory(refre

[2021-11-18 12:24] digitalbuddha commented on #170
Correct skip memory would not return the in memory value but would still update the memory cache after getting the source of truth value

[2021-11-18 19:09] digitalbuddha commented on #339
Hi folks, store has modules that depend on Moshi, we are unable to upgrade Store to 1.6 until Moshi metadata issues are resolved
Caused by: java.lang.IllegalStateException: Could not parse metadata! This should only happen if you're using Kotlin <1.1.
        at com.squareup.moshi.kotlinpoet.metadata.KotlinPoetMetadata.readKotlinClassMetadata(KotlinPoetMetadata.kt:89)

Will keep this open for now

[2021-11-19 15:57] mirland commented on #339
@digitalbuddha Moshi is a third-party library, in my opinion, we should migrate it to [Kotlin Serialization Library](https://kotlinlang.org/docs/serialization.html). You will avoid this kind of issue. Furthermore, it's used only in the sample app, so the migration shouldn't be hard. thought?

[2021-11-20 18:47] kosiarska opened #349 "[BUG] I get only Loading response, nothing after that"
**Describe the bug**
I use Timber.e to log a response from collect call. I get only Loading(origin=Fetcher) and nothing after that. Data is persisted into room (I checked this in app inspection in android studio).

**To Reproduce**
Steps to reproduce the behavior:
load Method, "info_uj" is the parameter of retrofit call

<img width="883" alt="Zrzut ekranu 2021-11-20 o 19 49 06" src="https://user-i

[2021-11-20 18:50] digitalbuddha commented on #349
Hmm tough to tell. We have similar sample that is working. Check roomfragment in the app module. Could you also show your dao? Maybe query is wrong.

[2021-11-20 19:00] kosiarska commented on #349
Yep, you're right. My query was wrong. So that's not a library bug. Is there a possibility to add some kind of logging capability to Store (like okhttp logger for example). Thanks for quick response.

[2021-11-20 19:01] digitalbuddha commented on #349
Nothing exists currently but happy to take an external contribution 🙂

[2021-11-21 11:24] kosiarska commented on #349
I'll try to find some free time to work on this.

[2021-11-21 11:24] #349 closed

[2021-11-30 16:28] FilippoVigani commented on #310
@MKelman I think what you are seeing is the 3 data levels being received on the listener: the in-memory cache, the database cache and the remote data.

[2021-12-02 08:25] julioromano commented on #339
Switching to MoshiX + Ksp also solves the Kotlin 1.6 compatibility issue and usually requires just a trivial dependency change: https://github.com/ZacSweers/MoshiX/tree/main/moshi-ksp

Otherwise, MoshiX has already been merged in Moshi's master so hopefully a new Moshi version (therefore compatible with Kotlin 1.6) should soon land.

[2021-12-02 08:40] julioromano commented on #339
Turns out, in case of need, this issue can be monkey patched adding this function in the module that fails to compile:
[code]

Also don't forget to add the following to the module's `build.gradle` (hereafter in Kotlin DSL syntax) :
[code]
Hope this helps.

[2021-12-02 16:59] natario1 commented on #339
It is very strange that we can't compile a library that is so popular on the last major version, and even for 1.5 one has to use a different artifact which sounds like a workaround (even if it isn't). And this is just because the sample app depends on moshi?

Can you create a 1.6 branch where the sample app is removed, then add it back once moshi fixes their stuff? Which, by the way, was already d

[2021-12-03 12:52] digitalbuddha commented on #339
1.5 issue is not moshi but a time api we depend on.  1.6 overall has been a bit of a weird situation as it broke incremental compilation for us and most other apps. It did not feel safe to make that the main version. Maintaining 3 versions would be a stretch too. Thanks for the moshi link I’ll keep an eye on it through the weekend. I’ll change to snapshot and release at some point next week.

[2021-12-03 14:13] mirland commented on #339
Duration [api is stable in 1.6](https://blog.jetbrains.com/kotlin/2021/11/kotlin-1-6-0-is-released/#standard-library), so you shouldn't have that problem in the future.

I see your point but, Kotlin 1.4 is too old, so I think it shouldn't be Maintaining.

BTW: couldn't we remove Moshi? I mean, Jetbrains libraries should give less problem in the upgrades

[2021-12-07 14:52] #339 closed

[2021-12-07 15:22] digitalbuddha commented on #339
The moshi integration was a bit of an integration test. We are using moshi internally. There should be a snapshot up with a fix now/soon

[2021-12-07 15:23] OrhanTozan commented on #256
For future readers: in my case, I solved this with having a seperate table in my local database that keeps track of whether a "fetch all" has already been made, so that my store can differentiate between that the data is not fetched yet vs. the data truly being empty.

[2021-12-07 15:49] mirland commented on #339
Hi @digitalbuddha, I see your point. However, I think if they release a new version, you can have this type of issue in the future. If you use the "official" library, you will avoid a lot of issues.

I think moshi is ok, If you prefer to use it as a serialization layer in the sample app, [just comment it in my pr](https://github.com/dropbox/Store/pull/355) and close it!

thanks!

[2021-12-07 16:05] digitalbuddha commented on #339
Thank you for the pr let me discuss internally. Your thinking makes sense

[2021-12-08 12:45] #286 closed

[2021-12-08 23:15] digitalbuddha opened #366 "[Feature Request] Fix kaiken so that resolveDependencyProvider goes up fragment chain and not just activity"
Currently scope resolution goes up the fragment chain before checking activity. The resolve dependency provider calls do not. I'll be changing this pre 2.0 release

[2022-01-04 10:28] sdoward commented on #287
Adding my 2 cents... I feel like store and compose operate on different layers and solve different problems. I feel like adding `MutableState` to the api makes it less clean.. The concerns of store become mixed.

It is not too difficult for the consumers of store to map to compose-related data structures. Compose itself offers utility functions mapping `Flow` -> `MutableState`

[2022-01-05 18:52] es0329 commented on #276
Hi @digitalbuddha. I'm seeing this crash trace with `Store 4.0.2-KT15` and `Kotlin 1.5.31`.

Was there a directive I might've missed or shall I create another issue for it?

[2022-01-05 18:54] digitalbuddha commented on #276
Could you try 4.0.4-KT15 and apologies for the bad naming of versions

[2022-01-05 19:54] es0329 commented on #276
That version works. Thanks @digitalbuddha!

[2022-01-11 15:03] digitalbuddha commented on #366
Opened in wrong repo oops

[2022-01-11 15:03] #366 closed

[2022-01-21 12:10] aclassen commented on #247
After the new memory model release i searched something to try it . so i started to convert store4 to kmp some weeks ago.
I removed everything from the guava cache , but kept the implementation , so it only supports strong references and no loader atm.
I added just a simple 'getOrPut' as a replacement for now.
Thread safety was achieved using kotlinx-atomicfu.
Performance seems to be very close to

[2022-01-21 13:35] digitalbuddha commented on #247
Wow sounds awesome! We can make a branch here if you’d like play in the main repo. Excited to see progress

[2022-01-21 15:55] aclassen commented on #247
Sure thing. But i created a new project and added module by module as it was too time consuming for me to get the current gradle script working as kmp.
If this is not a problem, i can push a wip version this weekend i guess.

[2022-01-26 21:12] digitalbuddha commented on #247
Looks awesome! I created a branch Kmp in case you want to start integrating back into the main repo. I’m excited for the shape this is taking

[2022-01-27 18:19] sky-ricardocarrapico opened #394 "[Feature Request] Fallback to source of truth if fetcher fails on a fresh request"
We currently do not have a good way of requesting fresh data (ie. it's the first data we receive on the stream) and then keep observing source of truth. Creating a `StoreRequest.fresh(key)` works for the happy path but if the fetcher fails, we'll no longer be observing data.

To implement this behavior we're currently using `StoreRequest.cached(key, refresh = true)` together with this extension:

[2022-01-28 02:32] digitalbuddha commented on #394
Could you write a failing test case please. Happy to play with it and see of making some generic solution. Thank you

[2022-01-28 12:37] sky-ricardocarrapico commented on #394
Added a failing test here: https://github.com/sky-ricardocarrapico/Store/blob/53fb10b4fc308333cc625304a2f5f70a8e17e598/store/src/test/java/com/dropbox/android/external/store4/impl/FlowStoreTest.kt#L775-L804

Not sure if this will need a new API or not. I've seen another issue talking about adding a boolean to `fresh` to indicate if we should fallback to cache. That could work while keeping current

[2022-01-28 12:49] digitalbuddha commented on #394
Hi Ricardo it feels reasonable to add the functionality you want. Maybe something like StoreRequest.tryFresh where it will try to get fresh but fallback to SOT if error returned. I can take a look at implementing next week unless you or someone want to try taking it on.

As far as your second question. Correct if you want to have cache data or error (without fallback to fetcher) you would need to

[2022-01-28 12:56] sky-ricardocarrapico commented on #394
https://github.com/dropbox/Store/issues/185#issuecomment-653145506

I see, makes sense. Thanks!

[2022-01-31 14:32] digitalbuddha commented on #394
Hi friends, I'm looking at our tests particularly https://github.com/dropbox/Store/blob/862da9b4f9847939c9cdb1d14695ca0b8e1ea986/store/src/test/java/com/dropbox/android/external/store4/impl/FetcherResponseTest.kt#L46 which validates that on an error emission from fetcher we will still emit new data from fetcher. Maybe you want to use the `ofResult` style of fetcher which will allow you to never th

[2022-02-01 12:14] sky-ricardocarrapico commented on #394
I'm already using an `OfResult` fetcher. But this is only for flow fetchers. I would say that the most common use case of this lib is actually a non flow fetcher with a flow SoT.

And changing my fetcher to cover this use case means that I'm affecting the other use cases that are served by the same store.

I guess this could work by looking into a `FetcherResult.Error`, but then it doesn't set the

[2022-02-01 13:03] digitalbuddha commented on #394
I don’t think I’ll be able to implement myself but if you’d like to do a pr to add the functionality I would accept it

[2022-02-01 14:20] sky-ricardocarrapico commented on #394
I can give it a try. How would you like the see the API for this?

- `StoreRequest.fresh(fallbackToSourceOfTruth: Boolean = false)`
- `StoreRequest.tryFresh()`

The first one makes more sense to me because it adds some parallelism with the `StoreRequest.cache(refresh)`. But it means assuming `false` by default. But I'm willing to create the second one, if you prefer it.

[2022-02-01 14:22] digitalbuddha commented on #394
Since you’ll be the first consumer I’ll leave the choice up to you 😀

thank you

[2022-02-11 14:43] dbobrzyk opened #402 "[BUG] Calling fresh() on Store does not do anything"
**Sample app**
Issue is recreated in sample app: https://github.com/dbobrzyk/StoreIssueSample

**Describe the bug**

When creating Store from the flow, data loads perfectly on init. But when requested to refresh the data (from button or swipe refresh) calling fresh() on store is doing nothing (nothing like the inside of the function was empty - just void).

Expected behaviour would be to get the n

[2022-03-07 22:31] drzby99 commented on #247
Hi @digitalbuddha,

My name is Alan Zhang, an incoming master’s student in CS at the University of Pennsylvania.

I came across Dropbox’s projects for GSOC, and I’m very interested in contributing to converting Dropbox Store to be a Kotlin multi-platform project or Fusing AndroidX Paging with Dropbox Store (#247).

Although I don’t have extensive experience with Kotlin, I’m fluent in Java and I’m

[2022-03-10 13:03] justdvnsh opened #409 "[BUG] Current main branch not working on Mac with M1 chip"
**Describe the bug**
Currently the main branch is not working on mac m1.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the project on a mac m1 device
2. let the gradle do the job
3. see the error

**Expected behavior**
The build should be running perfectly fine, and we should be able to run the sample app on device.

**Screenshots**
![Screenshot 2022-03-10 at 6 31 36 PM](https://user

[2022-03-10 13:03] justdvnsh commented on #409
The solution is pretty simple. This error is due to older version of room. Simply upgrading the room version would do the job. @digitalbuddha

[2022-03-10 13:04] justdvnsh commented on #409
![Screenshot 2022-03-10 at 6 34 19 PM](https://user-images.githubusercontent.com/29144058/157667566-02b16abf-c0e6-4058-b420-2a5fad2089e5.png)

App running fine with upgraded room version.
Previous room version -> 2.3.0
New Room Version -> 2.4.0-alpha03

[2022-03-10 17:30] OmkarAcharekar commented on #409
Room in its recent update got this issue fixed..Therefore you may consider updating Room version to the latest version :  2.4.0-alpha03 or above . I would recommend changing it to latest stable version..  ref [here](https://developer.android.com/jetpack/androidx/releases/room#2.4.0-alpha03)

[2022-03-10 18:01] justdvnsh commented on #409
Yeah so that's what I commented as well @OmkarAcharekar

[2022-03-10 18:02] digitalbuddha commented on #409
Im away from computer until Monday. Would one of y’all want to open a pr with fix?

[2022-03-10 18:35] OmkarAcharekar commented on #409
@justdvnsh , would you like to open a pr?

[2022-03-10 18:51] justdvnsh commented on #409
Yes. Just waiting for a green flag from @digitalbuddha

[2022-03-10 19:37] digitalbuddha commented on #409
Sure! Would appreciate the help

[2022-03-12 22:22] Ghanem21 commented on #250
Hi , I'm new in Gsoc is there is microtasks could I start with it to be familiar with the project 😊

[2022-03-13 15:27] Saurabh-Mokashi commented on #250
Hi @digitalbuddha , Im interested to work on this issue as a part of GSoC2022. Kindly guide me through the next steps

[2022-03-14 01:46] CEO-CGS commented on #250
Hello @digitalbuddha and @chris-mitchell, I am interested to work on this project as part of GSoC2022 as well and it would be a nice complement to the experience I have already with Android application development in Android Studio and Unity.

[2022-03-14 01:56] JvmName commented on #250
Y'all this isn't a jobs board, either identify an area to contribute to or don't, but please stop just asking for people to enumerate how to contribute to an open source project

[2022-03-14 18:50] Nurlibay commented on #247
Hello everyone ! I want to participate this project, please allow me join this project

[2022-03-14 18:51] digitalbuddha commented on #247
Hi folks hold tight, there will be some messaging from dropbox coming along with how to join the google summer of code projects

[2022-03-14 21:57] CEO-CGS commented on #250
Ok thanks.

[2022-03-16 19:34] handstandsam commented on #409
I opened up a PR to upgrade to `2.4.2` stable of Room. #411 🤞

[2022-03-22 11:49] Lawhacknifemi commented on #160
Hi, @digitalbuddha , I tried working on this . And I noticed there isn't really a clean way to do it. I However found **Java-Text-Fixture** .. It looks like it isn't supported yet for  [https://youtrack.jetbrains.com/issue/KT-50667](Kotlin).
we might have to wait until it's available.

[2022-03-30 06:55] Sohailshah20 commented on #250
Hello @digitalbuddha, I'm very interested in working on this project as a part of GSoC 2022. Further guidance for the onboarding process would be much appriciated.

[2022-03-30 13:26] handstandsam commented on #409
[I'm cutting a release of `4.0.5` today](https://github.com/dropbox/Store/pull/423) that should be published by later today.  This is fixed there.  NOTE: This only impacts the sample app as Room is not used by the Store library itself.

[2022-03-30 18:08] changusmc commented on #250
Due to some personnel transitions, we unfortunately had to pull Store from GSOC2022. We sincerely apologize for the inconvenience

[2022-03-31 04:40] FossWithKc commented on #247
I'm really interested in this project and want to be a part of it and help develop the software.

[2022-03-31 05:39] bisakhmondal commented on #25
Hi everyone, Bisakh this side. I am interested in working on this feature as part of GSoC22. A while ago, I went through the dropbox paper link you have shared here and on the gsoc idea page. I have some thoughts based on the doc content. It would be awesome if you could take a look when you are free.

[Pasting my comment from the dropbox docs]

​​I have some doubts.
|||>>  ​​objects that can be r

[2022-03-31 14:03] handstandsam commented on #247
Regarding Google Summer of Code (GSOC), this project is unfortunately no longer going to be participating.

---
@changusmc sent out this message regarding it: https://twitter.com/changusmc/status/1509231084638142467
[code]

[2022-04-04 05:00] bisakhmondal commented on #25
ping @digitalbuddha

[2022-04-07 06:22] biratdatta commented on #116
Yeah it is a good issue, require a discussion for it.

[2022-04-13 07:09] lukisk opened #429 "[BUG] fetcher is not released correctly when coroutine scope is cancelled"
**Describe the bug**
When cancel active flow's scope, new subscribed flow from Store doesn't emit new items.

**Sample app**
Issue is recreated in sample app: https://github.com/lukisk/store-fetcher-issue

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Fresh" button - you can see updates in textview and logcat
2. Click on "Cancel" button
3. Again click on "Fresh" button - no update

[2022-04-13 11:33] digitalbuddha commented on #429
Thanks for finding! Mind opening up a pr with the fix and by turning the sample into a unit test to prevent future regression?

[2022-04-14 13:03] lukisk commented on #429
Yes, i can. Is not this test (https://github.com/lukisk/Store/commit/e968be960917a952856b6f02b106db1e3fc2ba2a#diff-e85d4a32510dca21577217985fd5ebd18cb936b536916a88e516385549b16c93) enough?

[2022-04-14 13:05] digitalbuddha commented on #429
Looks good to me but let’s let others review when pr is open

On Thu, Apr 14, 2022 at 9:03 AM lukisk ***@***.***> wrote:

[2022-04-25 05:49] #429 closed

[2022-05-04 15:13] Kshitij09 commented on #250
`paging3` integration with `Store` is something I'm interested to explore. Should I go ahead with the same or is there any other high-priority issue currently being worked upon that I could contribute to?

`Store` is an excellent Library and am looking forward to contributing 🙂

[2022-05-09 21:47] mzielu opened #435 "[BUG] After a few network disabled errors next events are not being collected in stream"
**Describe the bug**

When there is an active stream collecting events and we want to refresh data quickly a few times
with the network disabled we are causing the flow to break and stop delivering events.

I have investigated the problem a little bit in the code and my guess is that flow inside *newDownstream*
inside **Multicaster** class is being finished/completed/canceled unexpectedly after a

[2022-05-13 09:42] radzio commented on #435
I have exactly the same problem :( any updates?

[2022-06-22 07:49] mzielu commented on #435
any updates?

[2022-06-26 14:28] manosbatsis commented on #247
Just another nudge; would love using this in our multiplatform project.

[2022-07-03 15:48] salan1 commented on #287
I was hoping to respond to this once I had more time on Compose but going to close this since flows can be simply mapped to a `MutableState` state for a base use and other utilities I'll just make independently since the majority of what I mentioned above is a pattern I'd like to carry on from my RN projects.

[2022-07-03 15:48] #287 closed

[2022-07-15 12:30] digitalbuddha commented on #435
@KevCron

[2022-07-16 23:01] KevCron commented on #435
Haven't solved this issue but I do have an additional detail:

The number of refreshes doesn't matter, it's the speed between them. I can get to

[code]

[2022-08-02 21:25] lukisk commented on #435
Hi, I have exactly the same problem,  i have investigated and found this in Multicaster. if problem occurs, there is undelivered  element in channel (on line where is Channel constructor,  can be defined onUndeliveredElement callback), after that, channelManager.removeDownstream(channel) throws ClosedSendChannelException for every removed channel..

Maybe this is expected behavior, but i never see

[2022-08-02 21:31] digitalbuddha commented on #435
Good find! Do you happen to see why the element is undeliverable?

[2022-08-03 05:43] lukisk commented on #435
i have no idea

[2022-09-07 15:36] matt-ramotar opened #445 "[Store 5] Add Market foundation"
A `Market` is a composition of stores and systems. A `Store` interacts with one data source, or a `Persister`.
A `ConflictResolver` settles discrepancies among remote and local persisters.

A market always has one conflict resolution strategy. However, Store 5 is flexible and unopinionated on implementation. An application can have N markets. And a market can have N stores and execute operations i

[2022-09-07 15:43] matt-ramotar opened #446 "[Store 5] Add sample app"
- [ ] Online read
- [ ] Online write
- [ ] Offline read
- [ ] Offline write
- [ ] Dynamic server-driven UI with [Zipline](https://github.com/cashapp/zipline) and [Component Box](https://github.com/dropbox/componentbox)

[2022-09-07 15:49] matt-ramotar opened #447 "[Store 5] Add bindings to KMP cache"
- [ ] Create `CachingPersister` that delegates to [Cache](https://github.com/MobileNativeFoundation/Store/tree/Kmp/cache)

[2022-09-07 15:52] matt-ramotar opened #448 "Build Store documentation website"
- [x] Build website
- [x] Document Store 5

[2022-09-07 16:04] matt-ramotar commented on #445
- [ ] Migrate Store 4 tests

[2022-09-07 16:17] digitalbuddha commented on #447
You can instead make a CachingPersister than delegates to Cache

[2022-09-07 16:28] matt-ramotar commented on #447
Ah yeah Good idea 👍🏽

[2022-09-07 19:34] alex-burghuber commented on #402
I have this issue as well and I think the problem is that a store with ` Fetcher.ofFlow` doesn't react to a `.fresh()`. It seems this is the case in the provided sample app and the test you have linked only tests a normal `Fetcher.ofFlow` for `.fresh()`

[2022-09-07 19:37] digitalbuddha commented on #402
Hi sorry. I don't quite understand. Could you reword your comment please

[2022-09-07 19:45] alex-burghuber commented on #402
Is it clear now? I accidentally typed Fetcher.ofFlow instead of Fetcher.of in the last sentence

[2022-09-07 19:52] digitalbuddha commented on #402
Aha that explains it. I'll take a look in am and write a failing test

[2022-09-07 22:28] #435 closed

[2022-09-08 01:05] matt-ramotar opened #449 "Migrate Store 4 tests"

[2022-09-08 21:11] matt-ramotar opened #451 "[Store 5] Decide naming"

[2022-09-15 02:32] matt-ramotar opened #452 "[Store 5] Make Bookkeeper optional"
As I wrote internally - I am not sure we need to require users pass in `Bookkeeper`. All `Bookkeper` needs to do is let `RealMarket` know it should eagerly resolve conflicts. Initially I thought we would want to defer implementation to users. But with `Bookkeeping` mental model, I suspect most users will not care to customize. We can bind `Bookkeeper` to a disk cache or DB ourselves under the hood

[2022-09-27 09:01] yaoandy107 opened #453 "[BUG] Calling store.get() in RoomDatabase.withTransaction will encounter a deadlock"
**Describe the bug**
When I call `store.get()` in the `RoomDatabase.withTransaction {}` and the store trigger the writer to write data into the database, a deadlock will occur. Everything is fine if the writer does not trigger or calling the `store.get()` outside the `withTransaction {}`.

**To Reproduce**
1. clear the Room's table that the Store used
2. call `store.get()` inside the `RoomDatabase

[2022-09-27 12:50] digitalbuddha commented on #453
Thank you for reporting and including a sample ❤️. I can take a look this week and let you know a fix/suggestion. My initial thinking is the transaction is locking writing to the db within your block. Without writing we can't read.

[2022-09-27 12:56] digitalbuddha commented on #453
This looks related. https://issuetracker.google.com/issues/120854786
Seems like there is a runInTransaction function when working with suspend and transactions in room

[2022-09-27 12:57] digitalbuddha commented on #453
Do you mind trying the new transaction api and reporting back if it works?

[2022-09-27 13:47] yaoandy107 commented on #453
Thanks for your fast reply. The `runInTransaction()` can't support suspend function, so it can't replace `withTransaction()`. Besides, the `withTransaction()` is the new API introduced in the issue you posted above.

[2022-09-27 13:51] yaoandy107 commented on #453
I find out that the [KDoc](https://android.googlesource.com/platform/frameworks/support/+/refs/changes/74/891674/20/room/coroutines/src/main/java/androidx/room/RoomDatabase.kt) of `withTransaction()` has mentioned that it should use the same coroutineScope that receive by the suspending block to make transaction. So I guess it's the limitation of Room which let the usage of Store inside withTransa

[2022-09-27 14:13] digitalbuddha commented on #453
I'm going to keep this issue open as we are currently rewriting some store internals for a Store5 major release. Let me think about how to solve this in a generic manner.

[2022-09-28 16:32] #445 closed

[2022-09-30 09:33] aclassen commented on #452
Just wanna note, that if we wanna go for disk cache we would also need a kmp filesystem implementation. So i guess a DB would be a better fit to support all platforms.

[2022-10-04 19:28] vovkab commented on #402
Seeing similar issue, but it's way worse for us since we are using rxjava:
1. `store.freshSingle()` would fail with an exception `"Expected at least one element"
2. `store.observe()` would complete without emitting any value
3. and most critical issue is that it will disconnect any active observer, they all receive `onComlete()` event, thus breaking all chains, even though per contract they should

[2022-10-20 19:12] vovkab commented on #402
The issue with the wrong thread (dispatcher) could be reproduced by removing `await()` from `RxSingleStoreExtensionsTest`.

For example to confirm current thread:

[code]

Would print that we are on a wrong thread:

[code]

Similar test but with observe:

[code]
Shows correct thread and works fine without using await:

[code]

[2022-10-20 23:04] matt-ramotar commented on #310
@MKelman Can you share the repo? Happy to take a look

[2022-10-25 15:16] MKelman commented on #310
we have limited our use of store and not seeing this issue anymore from probably some hacky fixes. going to close this for now

[2022-10-25 15:16] #310 closed

[2022-11-02 16:48] matt-ramotar opened #457 "[Feature Request] Cache only option for Store 5"
**Is your feature request related to a problem? Please describe.**
Option to hit cache only

**Describe the solution you'd like**
Do not hit network on empty cache

**Describe alternatives you've considered**
1. Force fetcher to fail fast
2. Wrap Store and add custom observer

**Additional context**
From #store-core